@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<h1>Test</h1>
<button class="btn btn-primary" @onclick="(() => showWeather=!showWeather)">Show weather:</button>
@if (showWeather)
{
    <Weather />
}


@code {
    bool showWeather { get; set; } = false;
}