@page "/"
@using STIN_Weather.WeatherReportUtils
@using STIN_Weather.Data
@using LeafletForBlazor
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject JsonFileUserStore users
@rendermode InteractiveServer


<PageTitle>Home</PageTitle>
<h1>Test</h1>
<h1>@user</h1>
<div class="maplocs">
    <div>
        <MapView 
            OnCoordinatesCreated="OnCoordinatesCreated" 
            @ref="map"/>
    </div>
    <div class="controls-table">
        <div class="controls">
            <div>
                <button class="btn btn-primary" @onclick="showWeatherClick">Show weather:</button>
            </div>
            <div class="location-name">
                <AuthorizeView>
                    <button class="btn btn-primary" @onclick="SaveLocationClick">Save location</button>
                    <label class="form-label" for="locName">Name:</label>
                    <input @bind="@text" id="locName"/>
                </AuthorizeView>
            </div>
            <div class="check">
                <div>
                    <AuthorizeView>
                        <label class="form-check-label" for="historic" >Historic data:</label>
                        <input type="checkbox" id="historic" class="form-check-input" @bind="@historicData">
                    </AuthorizeView>
                </div>
            </div>
            
        </div>
        @if (locations.Any())
        {
            <LocationsTable OnRemoveLocation="RemoveLocation"
                            OnShowLocation="ShowLocation"
                            locations="locations" />
        }
    </div>
</div>

@if (showWeather)
{
    <div>
        <hr />
        <WeatherRespose c="OutgoingCoords" historic="historic"/>
    </div>
}

@code{
    bool historicData = false;
    bool showWeather { get; set; } = false;
    Coordinates OutgoingCoords { get; set; }
    int historic = 0;
    Coordinates Coords { get; set; }
    ApplicationUser user;
    List<SavedLocation> locations = new List<SavedLocation>();
    MapView map;
    string text = "";
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = await UserManager.GetUserAsync(authState.User);
        if(user is not null)
        {
            locations = user.savedLocations;
        }
        await base.OnInitializedAsync();
    }
    async Task SaveLocationClick()
    {

        if (user.savedLocations is null)
        {
            user.savedLocations = new List<SavedLocation>();
        }
        int id = locations.Count + 1;
        string name = text;
        if (string.IsNullOrWhiteSpace(name))
        {
            name = "New location";
        }
        name = WeatherUtils.GetUniqueName(name, locations);
        var newLocation = new SavedLocation(Coords, name, id);
        user.savedLocations.Add(newLocation);
        locations = user.savedLocations;
        var cancellationToken = new CancellationToken();
        users.UpdateAsync(user, cancellationToken);
    }
    async Task OnCoordinatesCreated(Coordinates IncomingCoords)
    {
        Coords = IncomingCoords;
    }
    protected override async Task OnParametersSetAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = await UserManager.GetUserAsync(authState.User);
        if(user is not null)
        {
            locations = user.savedLocations;
        }
        await base.OnParametersSetAsync();
    }
    void showWeatherClick()
    {
        OutgoingCoords = Coords;
        if (historicData)
        {
            historic = 7;
        }
        else historic = 0;
        showWeather = true;
    }
    private async Task RemoveLocation(int id)
    {
        locations.RemoveAt(id - 1);
        for (int i = id-1; i < locations.Count; i++)
        {
            locations[i].id = i+1;
        }
        user.savedLocations = locations;
        var cancellationToken = new CancellationToken();
        users.UpdateAsync(user, cancellationToken);
    }
    private async Task ShowLocation(Coordinates coords)
    {
        map.MovePoint(coords);
        OutgoingCoords = Coords;
        if (historicData)
        {
            historic = 7;
        }
        else historic = 0;
        showWeather = true;
    }
}