@using STIN_Weather.WeatherReportUtils

<h3>WeatherRespose</h3>

<p>returned json: </p>


@code
{
    [Parameter]
    public Coordinates c {get; set;}
    WeatherReport w { get; set; }
    WeatherApi api { get; set; }
    protected override async Task OnInitializedAsync()
    {
        api = new WeatherApi();
    }

    protected override async Task OnParametersSetAsync()
    {
        w = await WeatherReport.requestWeather(c, api);
    }
}