@using STIN_Weather.WeatherReportUtils

<h3>WeatherRespose</h3>
@if(w is not null)
{
    <p>returned json: @w.json</p>
}


@code
{
    [Parameter]
    public Coordinates c {get; set;}
    WeatherData w { get; set; }
    WeatherApi api { get; set; }
    protected override async Task OnInitializedAsync()
    {
        api = new WeatherApi();
    }

    protected override async Task OnParametersSetAsync()
    {
        w = await WeatherData.requestWeather(c, api);
        await base.OnParametersSetAsync();
    }
}