@using STIN_Weather.Data
<h3>WeatherRespose</h3>

<p>returned json: </p>


@code{
    protected override async Task OnInitializedAsync()
    {
        api = new WeatherApi();
    }

    protected override async Task OnParametersSetAsync()
    {
        weather = await Weather.requestWeather(c, api);
    }
    WeatherApi api;
    Weather weather;
    [Parameter]
    public Coordinates c {get; set;}
}